<td><img src="{{ thumb }}"></td>
<td>{{ title }}</td>
<td><a href="#/photos/{{ id }}">Show</td>
<td><a href="#/photos/{{ id }}/edit">Edit</td>
<td><a href="#/photos/{{ id }}/destroy" class="destroy">Destroy</a></td>